@model EcCoach.Web.ViewModels.EventsViewModel


<ul class="events">
    @foreach (var item in Model.UpcomingEvents)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="coach">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                        @item.Coach.Name
                    </a> @if (item.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@item.CoachId" asp-route-id="@item.CoachId" class="btn btn-default btn-sm pull-right js-toggle-follow"> Follow </button>
                    }
                </span>
                <span class="type">
                    @item.Type.Name
                </span>
                @if (Model.ShowActions && !item.IsCanceled)
                { 
                    <button data-event-id="@item.Id" asp-route-id="@item.Id"
                            class="btn @(Model.Attendances.Contains(item.Id) ? "btn-info": "btn-default")
                            btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                   
                }
            </div>


        </li>
    }
</ul>
