@model    EcCoach.Web.ViewModels.EventsViewModel


<ul class="events">
    @foreach (var item in Model.UpcomingEvents)
    {
        <li>


            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="coach">
                    @item.Coach.Name
                </span>
                <span class="type">
                    @item.Type.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-event-id="@item.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                }

            </div>


        </li>
    }
</ul>
